:root {
  --green-primary: #198754;
  --green-bright: #25c974;
}

body {
  background-color: #121212;
}

.border-green {
  border-color: var(--green-primary) !important;
}

.text-green {
  color: var(--green-bright) !important;
}

.btn-green {
  background-color: var(--green-primary);
  color: #ffffff;
  border: none;
}

.btn-green:hover {
  background-color: var(--green-bright);
  color: #000000;
}


.badge-pendiente {
  background-color: #3d3100;
  color: #ffe066;
  border: 1px solid #856404;
}

.badge-progreso {
  background-color: #133d7c;
  color: #25c974;
  border: 1px solid #25c974;
}

.badge-completada {
  background-color: #14452f;
  color: #25c974;
  border: 1px solid #25c974;
}
.border-pendiente {
  border-color: #856404 !important;
}

.border-progreso {
  border-color: #0d6efd !important;
}

.border-completada {
  border-color: var(--green-primary) !important;
}


.form-control,
.form-select {
  background-color: #1e262c !important;
  color: #ffffff !important;
  border: 1px solid #198754 !important;
}

.form-control::placeholder {
  color: #a0aab2 !important;
}


.form-control:focus,
.form-select:focus {
  background-color: #252f38 !important;
  border-color: #25c974 !important; /* Borde verde brillante */
  box-shadow: 0 0 8px rgba(37, 201, 116, 0.4) !important; /* Resplandor verde */
}

.card-header {
  border-bottom: none !important;
}
